<form action="/users/{{id}}?_method=put" method="POST">
    <label for="name">Name:</label>
    <input type="text" value="{{name}}" name="name">

    <label for="favGenre">Favorite Genre:</label>
    <input type="text" value='{{favGenre}}' name="favGenre">

<input type="submit" value="Update">

</form>