<form class="newAlbum" action="/albums/{{id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="artist">Artist:</label>
    <input type="text" name="artist">
    
    <input type='submit' value="add album">
</form>