<form class="newUser" action="/users" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="favGenre">Favorite Genre:</label>
    <input type="text" name="favGenre">
    
    <input type='submit' value="Create User">
</form>