<h2>{{name}}<a href="/albums/edit/{{id}}">Edit</a></h2>

<h4>{{artist}}</h4>


<form action="/albums/{{id}}?_method=delete" method="post" style="margin-top: 30px">
    <input type="submit" value="Delete">
</form>